.FieldInfo {
  color: rgb(251, 174, 44);
  font-family: Bitter, Georgia, "Times New Roman", Times, serif;
  font-size: 1.2 em;
}
.CommentBlock {
  background-color: #f6f7f9;
}
.heading {
  font-family: Bitter, Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #005e90;
  text-decoration: none;
}
.heading:hover {
  color: #0090db;
}
a.nav-link.active {
  color: rgb(251, 174, 44) !important;
}
