<IfModule mod_rewrite.c>
  # Enable rewrite engine RewriteEngine On # Define the base directory
  RewriteBase / # Redirect all requests to your front controller (e.g.,
  index.php) RewriteCond %{REQUEST_FILENAME} !-f RewriteCond %{REQUEST_FILENAME}
  !-d RewriteRule ^ index.php [QSA,L]
</IfModule>
